<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{#loggedIn}}
      <p class="text-right">
        <a href="/auth/logout"></a>
      </p>
    {{/loggedIn}}
    {{{body}}}
  </body>
</html>
